* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 2rem;
}
html {
  font-size: 62.5%;
}

body {
  background-color: #392050;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  background-color: #fff;
  height: 9rem;
  width: 35rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  all: unset;
  width: 100%;
  background-color: black;
  border-radius: 0.5rem;
  height: 3rem;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
}
