body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 2.5rem;
    border: 10px solid black;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color:blue;
}

.purple{
    background-color: purple;
}

.red{
    background-color: red;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: green;
}